{% extends 'base-back.html.twig' %}

{% block title %}New Reponse{% endblock %}

{% block stylesheets %}
    <style>
        /* Style pour le titre */
        h1 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }

        /* Style pour le lien "back to list" */
        a {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
        }

        a:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card mt-5">
                    <div class="card-header">
                        <h1 class="text-center">Create new Reponse</h1>
                    </div>
                    <div class="card-body">
                        {{ include('reponse/_form.html.twig') }}
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_reponse_index') }}" class="btn btn-primary">Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
