{% extends 'base.html.twig' %}

{% block title %}Edit Livraison{% endblock %}

{% block body %}
<main id="main" class="main">
    <h1>Affecter</h1>

    {{ include('livraison/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('aff_livraison_index') }}">back to list</a>

</main>
{% endblock %}
