{% extends 'base-back.html.twig' %}
{% block title %}Evenement{% endblock %}

{% block body %}
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Basic form elements</h4>
                    <p class="card-description"> Basic form elements </p>
                    {{ form_start(formCategory , {'attr': {'novalidate':'novalidate'}} ) }}
                    <form class="forms-sample">
                      <div class="form-group">
                        {{ form_row(formCategory.libelle, {'label':'Libelle ' ,'attr':{'placeholder': 'Libelle...', 'class':'form-control'}}) }}
						
						
                    </div>
                      <button type="submit" class="btn btn-primary mr-2" >Submit</button>
                      {{form_end(formCategory)}}
                      
                    </form>
                     
                    </div>
                </div>
            </div>
			  {%endblock%}