{% extends 'base.html.twig' %}

{% block title %}E-FIT!
{% endblock %}
{% block cart %}{% endblock %}

{% block body %}


	<div class="bg-light p-3">
		<h1>Mes commandes :
		</h1>


		<div class="container">
			<div class="contianer">
				<table class="table">
					<thead>
						<th>
							<h4>Ref°</h4>
						</th>
						<th>
							<h4>Totale en (TND)</h4>
						</th>
						<th>
							<h4>Traitement</h4>
						</th>

					</thead>
					<tbody>
						{% for x in commandes %}
							{% if x.user == app.user %}

								<tr>
									<td>
										<h4>
											{{x.id}}</h4>
									</td>
									<td>
										<h4>{{x.totale}}
											TND</h4>
									</td>
									<td>
										<h4>{{x.createdAt|date('D-M-Y')}}
										</h4>
									</td>
									<td>
										{% if x.sent %}
											<h4 style="border-radius: 35px;" class="bg-success border p-2 text-center">
												Accepté</h4>
										{% elseif x.sent is null %}
											<h4 style="border-radius: 35px;" class="bg-warning  p-2 text-center">En cours</h4>
										{% else %}
											<h4 style="border-radius: 35px;" class="bg-danger p-2 text-center">Réfusé</h4>
										{% endif %}
									</td>
								</tr>
								{% else %}

							{% endif %}
						{% else %}
							no commands for now
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<h5>Pour vous assiter vou devez contacter nous sur :</h5>
		<ul>
			<li>Email :yourinfo@gmail.com</li>
			<li>Phone :+216 98 125 599</li>
		</ul>
	</div>


{% endblock %}
