{% extends 'base.html.twig' %}

{% block title %}Commande Confirmée{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-5">
                <div class="card-body text-center">
                    <h2 class="card-title">Commande Confirmée</h2>
                    <p class="card-text">Votre commande a été confirmée avec succès.</p>
                    <p class="card-text">Merci de votre achat !</p>
                    <a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
