{% extends 'base-back.html.twig' %}

{% block title %}Hello BackController!
{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="card col-5">
            courbe 1
        </div>
        <div class=" col-2"></div>

        <div class="card col-5">courbe 2
        </div>
        <div class="card col-5">
            courbe 3
        </div>
        <div class=" col-2"></div>

        <div class="card col-5">courbe 4
        </div>
    </div>
</div>

</div>
{% endblock %}