{% extends 'base-back.html.twig' %}

{% block title %}Hello BackController!
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row">
			<div class="card col-5">
				<h4>Les flux entrant pour chaque mois</h4>
			</div>


		</div>
	</div>

</div>{% endblock %}
