{% extends 'base-back.html.twig' %}

{% block title %}Edit Stock{% endblock %}

{% block body %}
    <h1>Edit Stock</h1>

    {{ include('stock/new.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
